<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Question League{% endblock %}</title>
  <link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/style.css">
  {% block headers %}{% endblock %}
</head>

<body>
  <header class="border-blue-200 border-b mb-3 mt-1 pt-2 h-12">
    <nav class="lg:container px-4 mx-auto flex items-center justify-between">
      <h1 class="font-light font-serif text-2xl text-denim">Question League</h1>
      <div class="flex gap-4">
        <a href="/">Home</a>
        <a href="{{ url_for('main.multiplayer') }}">Multiplayer</a>
      </div>
    </nav>
  </header>
  <div class="px-4 lg:container lg:mx-auto">
    {% block content %}{% endblock %}
  </div>
  <!-- Code for live server, don't forget to remove it in production -->
  <script>
    const src = new EventSource("/ping");
    src.onmessage = () => setTimeout(() => window.location.reload(), 200);
  </script>
  <!-- delete untill this line -->
</body>

</html>
