{% extends "layout.html" %}
{% block title %}{{ super() }} - Login{% endblock%}
{% block headers %}
<script>
  let show = true
  function showPassToggle() {
    document.getElementById("password").type = show ? "text" : "password";
    show = !show;
  }
</script>
{% endblock %}
{% block content %}
<div class="w-full max-w-xs mx-auto my-12">
  <form method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Username
      </label>
      <input required
        class="{% if error %}border-red-500{% endif %} shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        name="username" type="text" placeholder="Enter your username" value="{{ request.form.username }}" />
      <p class="error text-red-500 text-xs italic"></p>
    </div>
    <div class="mb-4 relative">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input
        class="{% if error %}border-red-500{% endif %} shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-1 leading-tight focus:outline-none focus:shadow-outline"
        name="password" id="password" type="password"
        placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
      <p class="error text-red-500 text-xs italic">{{ error }}</p>
      <label for="show-pass" class="group cursor-pointer text-gray-700 absolute top-9 right-2 hover:scale-110">
        <input name="showpass" id="show-pass" type="checkbox" class="hidden" onchange="showPassToggle()" />
        <svg fill="none" stroke="currentColor" stroke-width="1.5" class="group-has-[:checked]:hidden w-6 h-6"
          viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        </svg>
        <svg fill="none" stroke="currentColor" stroke-width="1.5"
          class="opacity-0 group-has-[:checked]:opacity-100 w-6 h-6" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12c1.292 4.338 5.31 7.5 10.066 7.5.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
        </svg>
      </label>
    </div>
    <div class="flex items-center justify-between">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit">
        Login
      </button>
      <label
        class="flex content-center cursor-pointer space-x-2 align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
        <span>Remember me</span>
        <input name="remember"
          class="scale-100 transition-all duration-500 ease-in-out hover:scale-110 checked:scale-100 w-5 h-5"
          type="checkbox">
      </label>
    </div>
  </form>
</div>
{% endblock %}
