{% extends "layout.html" %}
{% block title %}{{ super() }} - Multiplayer{% endblock %}
{% block content %}
<div class="mx-auto my-4 max-w-sm">
  <a href="{{url_for('main.new_room')}}"
  class="appearance-none w-full bg-emerald p-1 text-2xl hover:bg-emerald-300">New Room</a>
  <div class="flex justify-between items-center my-4">
    <hr class="flex-grow border-t-red-300" />
    <span class="flex-grow-0 mx-4">OR</span>
    <hr class="flex-grow border-t-red-300" />
  </div>
  <form class="flex flex-col">
    <input type="text" id="roomId" placeholder="Enter room id" name="roomId"
    class="shadow appearance-none border rounded w-full font-mono text-lg
    pb-2 pt-3 px-3 mb-3 text-gray-700 leading-tight focus:outline-none
    focus:shadow-teal-600"
    />

    <button type="submit" id="joinRoom"
    class="w-full bg-emerald-700 hover:bg-emerald-300 py-1 text-2xl">Join Now</button>
  </form>
</div>
{% endblock %}
